/* ImgBackground.css */
.image-container {
  position: relative;
  height: 37px;
  width: 37px;
}

.icon-container {
  position: absolute;
  top: 47%;
  left: 51%;
  transform: translate(-50%, -50%);
}
