.input-filed {
  background-color: transparent !important;
  border: none;
  border-radius: 0;
  padding: 0 !important;
  color: #fff !important;
}
.input-filed::after {
  color: #fff !important;
}
.form-floating {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.floatingInputlabel {
  color: #fff !important;
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;

  padding: 0 !important;
}
.floatingInputlabel::after {
  background-color: transparent !important;
  font-size: 6px !important;
}
.form-control:focus {
  box-shadow: none;
}

.interested-section {
  border-radius: 10px;
  padding: 48px;
  background: #1a1e29;
  color: white;
}
.refer-section {
  color: #fff;
  padding-right: 30px;
}
.scan-section {
  gap: 50px;
  display: flex;
  align-items: start;
  justify-content: space-between;
}
.scan-text-section {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding-bottom: 20px;
  margin-bottom: 20px;
}
