.accordionItems {
  background-color: rgba(26, 30, 41, 1);
  border: none !important;
  color: white;
  margin-bottom: 30px;
}
.accordionBody ul {
  margin: 0;
  padding: 0;
  color: #fff;
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
}
.accordionBody li {
  list-style: none;
  color: rgba(255, 255, 255, 0.7);
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
}
.accordionBody {
  margin: 0;
  padding: 0;
}
.accordionHeader button {
  background-color: yellow;
  border: none;
  color: white;
}
