.knowmaincontainer {
  background-color: rgba(26, 30, 41, 1);
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  padding: 64px 40px;
}
.knowmaincontainer Text {
  color: white;
}

.card-body {
  padding: 40px 45px 0px 0;
}
.knowboxes {
  color: white;
}
.knowcolumn {
  margin-bottom: 3.2;
}
.knowcard {
  background-color: transparent;
  border: none;
}
/* Background image of knowmore */
.Knowimage {
  /* height: 46px;
  width: 46px;
  background-color: red !important;
  border-radius: 50%; */
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 0;
}
.knowiconimage {
  position: relative;
}
